# Name the region, if omitted, the default "global" region will be used.
region = "global"

name = "{{ inventory_hostname }}"

log_level = "DEBUG"

# Make sure Nomad nodes leave before shutting down the agent to prevent messing up the raft consensus
leave_on_interrupt = true
leave_on_terminate = true

# Persist data to a location that will survive a machine reboot.
data_dir = "{{ nomad_data_dir }}"

# Bind to all addresses so that the Nomad agent is available both on loopback
# and externally.
bind_addr = "0.0.0.0"

# Advertise an accessible IP address so the server is reachable by other servers
# and clients. The IPs can be materialized by Terraform or be replaced by an
# init script.
advertise {
    http = "{{ ansible_eth0.ipv4.address }}:4646"
    rpc = "{{ ansible_eth0.ipv4.address }}:4647"
    serf = "{{ ansible_eth0.ipv4.address }}:4648"
}

# Ship metrics to monitor the health of the cluster and to see task resource
# usage.
telemetry {
    statsd_address = "127.0.0.1:8125"
    publish_allocation_metrics = true
    publish_node_metrics = true
}

# Enable debug endpoints.
enable_debug = true

consul {
    # The address to the Consul agent.
    address = "127.0.0.1:8500"

    # The service name to register the server and client with Consul.
    server_service_name = "nomad-server"
    client_service_name = "nomad-client"

    # Enables automatically registering the services.
    auto_advertise = true

    # Enabling the server and client to bootstrap using Consul.
    server_auto_join = true
    client_auto_join = true
}
