listen-address=127.0.0.1
listen-address={{ ansible_eth0.ipv4.address }}
bind-interfaces
port=53
domain-needed
bogus-priv
resolv-file=/etc/resolv.conf.dnsmasq
strict-order
server=/consul/127.0.0.1#8600
